@import "tailwindcss";

:root {
  --background: #1d1e20;
  --foreground: #ededed;

  --mg-x: 24px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-mona-sans: var(--font-mona-sans);
  --spacing-mg: 50px

}



@utility font-mona-sans-exp {
  font-family: var(--font-mona-sans);
  font-stretch: expanded;
  font-stretch: expanded;
  line-height: 1.08;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
}

@utility mg-x {
  padding-inline: 50px;
}
html, body {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling:touch;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto; /* disables momentum scroll bouncing */
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  

}